   <nb-card *ngIf="lesson">
     <nb-card-header>{{lesson.title}}</nb-card-header>
      <nb-card-body>
        <nb-stepper orientation="horizontal">
          <nb-step *ngFor="let step of lesson.steps; let i = index">
              <!-- <nb-card>
                <nb-card-body [innerHTML]="step.content">
                  </nb-card-body>
                </nb-card> -->
                    <div [innerHTML]="step.content">
                    </div>
            <nb-card *ngIf="step.question">
              <nb-card-body>
                {{step.question}}
                <ul style="list-style-type:none">
                  <li  *ngFor="let option of step.options">
                    <nb-checkbox (checkedChange)="toggleCheckbox(option)" status="primary">
                      {{option.option}}
                    </nb-checkbox>
                </li>
              </ul>
              </nb-card-body>
            </nb-card>

            <div *ngIf="(lesson.steps.length-1) !== i" class="button-center-container">
              <button nbButton disabled nbStepperNext class="button">prev</button>
              <button nbButton nbStepperNext class="button">next</button>
            </div>
            <div *ngIf="(lesson.steps.length-1) === i" class="button-center-container">
              <button *ngIf="hasQuizes()" (click)="submit()" nbButton nbStepperNext class="button" hero status="success">Submit</button>
              <button *ngIf="!hasQuizes()" (click)="finish()" nbButton class="button" hero status="success">Finish</button>
            </div>
          </nb-step>
          <nb-step *ngIf="hasQuizes()">
            Your result is: {{finalResultPct}}
            <div class="button-center-container">
                <button (click)="finish()" nbButton class="button" hero status="success">Finish</button>
              </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
