@import '~@nebular/theme/styles/global/breakpoints';

:host {
  $auth-layout-padding: 2.5rem;
  .container {
    background: white;
  }

  ::ng-deep {
    nb-layout .layout .layout-container .columns nb-layout-column {
      padding: 0;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
}
