<div class="header-container">
  <div class="logo-container">
    <a *ngIf="hasSidebar && hasToggleSidebar" (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#">testy</a>
  </div>
  <a [routerLink]="['/landing/list-courses']" status="basic" class="header-link">Catalog</a>
  <a [routerLink]="['/landing/pricing']" status="basic" class="header-link">Pricing</a>
</div>

<div class="header-container">
  <button nbButton outline status="primary" class="header-item button" [routerLink]="['/landing/pricing']">Upgrade to Pro</button>
  <b><a [routerLink]="['/auth/login']" status="basic" class="header-item">Log in</a></b>
  <button nbButton [routerLink]="['/auth/register']" class="header-item button">Sign up</button>
</div>
