<div class="header-container">
    <div class="logo-container">
      <a *ngIf="hasSidebar" (click)="toggleSidebar()" href="#" class="sidebar-toggle">
          <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <a class="logo" href="#">testy</a>
    </div>
  </div>

  <div class="header-container">
    <button nbButton [routerLink]="['/auth/login']" status="basic" class="btn-login">Log in</button>
    <button nbButton [routerLink]="['/auth/register']" class="btn-signup">Sign up</button>
  </div>
