<div class="btn-add-new-container">
    <button nbButton (click)="addNewCourse()" class="btn-add-new">Add new</button>
  </div>

<nb-card *ngFor="let course of courses">
  <nb-card-body>
    Title: <br>
    <input nbInput placeholder="Title" [(ngModel)]="course.description">
    <br>
    <br>
    Description: 
    <br>
    <textarea nbInput fullWidth placeholder="Description" [(ngModel)]="course.title">
    </textarea>
    <br>
    <br>
    <div class="btn-submit-container">
      <button *ngIf="course._id" nbButton class="btn-update">Update</button>
      <button *ngIf="!course._id" nbButton class="btn-save">Save</button>
    </div>
  </nb-card-body>
</nb-card>


