<!-- <nb-card>
    <nb-card-header *ngIf="course">{{course.title}}</nb-card-header>
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step *ngFor="let question of questions">
          <ng-template #labelOne></ng-template>
          <h4>{{question.title}}</h4>
          <p>{{question.description}}</p>
          <app-question [options]="question.options"></app-question>
          <div class="btn-next">
            <button nbButton nbStepperNext>Next</button>
          </div>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card> -->
