<div class="btn-container">
  <button nbButton (click)="saveCourse($event)" class="btn-save">Save</button>
</div>

<nb-card *ngIf="course">
  <nb-card-body>
    Title:
    <br>
    <input nbInput placeholder="Title" [(ngModel)]="course.title">
    <br>
    <br>
    Description:
    <br>
    <textarea nbInput fullWidth placeholder="Description" [(ngModel)]="course.description"></textarea>
  </nb-card-body>
</nb-card>
<div class="btn-container">
  <button nbButton (click)="addLesson($event)" class="btn-add-lesson">Add lesson</button>
</div>

<div *ngFor="let lesson of course.lessons">
  <a [routerLink]="['/admin', 'edit-course', course._id, 'edit-lesson', 'lesson._id']" style="text-decoration: none;">
    <nb-card>
      <nb-card-header>{{lesson.title}}</nb-card-header>
    </nb-card>
  </a>
</div>
