
<div class="cont">

<div class="pricing-container">
  <nb-card class="pricing-card">
    <nb-card-header class="card-header">Nebula</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
  </nb-card>

  <nb-card class="pricing-card" accent="success" style="margin-left: 5rem;">
    <nb-card-header class="card-header">Nebula</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
      <button nbButton fullWidth status="success" class="button">Sign up</button>
    </nb-card-body>
  </nb-card>

</div>
</div>

