@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((header-height: 4rem,
    layout-padding: 0 0 0,
    font-family-primary: unquote('Nunito Sans, Open Sans, sans-serif'),
    font-family-secondary: unquote('Nunito Sans, Open Sans, sans-serif'),
  ), default, default);
