<div class="intro-container">
    <div class="collage-container">
        <div class="title-container">
          <h1 class="title-text">
            Join us to Master
            <br>
            Software QA
          </h1>
        </div>
          <img class="title-bg" src="assets/img/landing.webp">
          <img class="title-bg2" src="assets/img/landing2.svg">
    </div>

    <div class="form-container">
      <div [formGroup]="loginForm" aria-labelledby="title">
        <div class="form-control-group">
         <span class="label-with-link">
              <label class="label" for="input-password">Email:</label>
            </span>
          <input  nbInput
                  fullWidth
                  id="input-email"
                  formControlName="email"
                  >
          <ngx-validation-message label="Email address"></ngx-validation-message>
        </div>

        <div class="form-control-group">
          <span class="label-with-link">
            <label class="label" for="input-password">Password:</label>
          </span>
          <input nbInput
                  fullWidth
                  id="input-password"
                  formControlName="password"
                  type="password"
                  placeholder="Password">
          <ngx-validation-message label="Password"></ngx-validation-message>
        </div>


        <button nbButton fullWidth status="success" size="medium" class="button button-start">
          Start testing now
        </button>
      </div>
</div>
</div>
<!--
      <section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
        or enter with:
        <div class="socials">
          <ng-container *ngFor="let socialLink of socialLinks">
            <a *ngIf="socialLink.link"
               [routerLink]="socialLink.link"
               [attr.target]="socialLink.target"
               [attr.class]="socialLink.icon"
               [class.with-icon]="socialLink.icon">
              <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
              <ng-template #title>{{ socialLink.title }}</ng-template>
            </a>
            <a *ngIf="socialLink.url"
               [attr.href]="socialLink.url"
               [attr.target]="socialLink.target"
               [attr.class]="socialLink.icon"
               [class.with-icon]="socialLink.icon">
              <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
              <ng-template #title>{{ socialLink.title }}</ng-template>
            </a>
          </ng-container>
        </div>
      </section> -->
  <!-- <ng-content select="router-outlet"></ng-content> -->
