<div class="container">
  <div class="section-container top-banner-container">
    <h1>Join the Millions
      Learning to Test
      with Testy</h1>
  </div>
  <div class="section-container features-container">
    <h1>Features</h1>
  </div>
  <div class="section-container get-started-container">
    <h1>It’s time to start
      investing in yourself
    </h1>
    <button [routerLink]="['/auth', 'register']" nbButton hero shape="round" size="large" status="primary">Get
      Started</button>
  </div>
</div>
